# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [3]:
import pandas as pd
import numpy as np

In [14]:
data_rand = np.array([np.random.randint(0 , 100) for i in range(0 , 24)]).reshape(4,6)
df = pd.DataFrame(data_rand , columns=['A','B','C','D','E','F'])
df.set_index('A')
df

    A   B   C   D   E   F
0  17  92  87  87  15  97
1  58  18  87  28  74   7
2  75  31  23  95  51  96
3  88  65  34  94  30  53

In [40]:
data_rand = np.array(np.random.randint(0 , 100 , size=(3,3)))
df = pd.DataFrame(data_rand , columns=['A','B','C'] , index=['X','Y','Z'])

print(df.iat[1,1])
print(df)

10
    A   B   C
X  99  82  21
Y  50  10  10
Z  18  63  53

In [41]:
df['Product'] = df['A'] * df['B']
df

    A   B   C  Product
X  99  82  21     8118
Y  50  10  10      500
Z  18  63  53     1134

In [46]:
print(df.sum(axis=0)) ##Column wise
print(df.sum(axis=1)) ##Row wise
df

A           167
B           155
C            84
Product    9752
dtype: int64
X    8320
Y     570
Z    1268
dtype: int64

    A   B   C  Product
X  99  82  21     8118
Y  50  10  10      500
Z  18  63  53     1134

In [101]:
arr = [np.nan,1,2,3,np.nan,21,24,3447,90]
df1 = np.array(arr).reshape(3,3)
df = pd.DataFrame(df1 , columns=['A','B','C'])

df.fillna(1)

      A       B     C
0   1.0     1.0   2.0
1   3.0     1.0  21.0
2  24.0  3447.0  90.0

In [102]:
nulls = df.columns[df.isnull().any()]

df = df.drop(nulls , axis=1 ,inplace=True)
print(df)

None

In [117]:
data = np.random.randint(0,100 , size=(3,3))
df = pd.DataFrame(data , columns=['Product' , 'Sales' , 'Price'])
print(df)
agg_df = df.groupby('Product')['Sales'].agg(['mean' , 'sum'])

# Name the index and columns
agg_df = agg_df.rename_axis('Product Name').rename(columns={'mean': 'Average Sales', 'sum': 'Total Sales'})
print(agg_df)

   Product  Sales  Price
0       36     66      4
1       16     31     83
2       60      8     42
              Average Sales  Total Sales
Product Name
16                     31.0           31
36                     66.0           66
60                      8.0            8

In [156]:
import pandas as pd

# Create two sample DataFrames
df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df2 = pd.DataFrame({'value2': [4, 5, 6]}, index=['A', 'B', 'D'])

# Perform a left join based on index
result = df1.join(df2, on='key', how='inner')
print(result)

res1 =

  key  value1  value2
0   A       1       4
1   B       2       5

In [164]:
sales = np.random.randint(0,100,size=(7))
dates = ['2021-01-01','2021-02-01','2021-03-01','2021-04-01' ,'2021-05-01','2021-04-01' ,'2021-05-01']
df = pd.DataFrame({'Dates':dates , 'Sales':sales})
df.groupby('Dates')['Sales'].mean()

Dates
2021-01-01    29.0
2021-02-01    30.0
2021-03-01    85.0
2021-04-01    47.0
2021-05-01    50.0
Name: Sales, dtype: float64

In [165]:
import pandas as pd
import numpy as np

# Create datetime index
date_range = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')

# Create DataFrame with random integers for each date
df = pd.DataFrame({
    'values': np.random.randint(0, 100, size=len(date_range))
}, index=date_range)

# Compute rolling mean with window of 7 days
df['rolling_mean_7d'] = df['values'].rolling(window=7).mean()

print(df.head(15))

            values  rolling_mean_7d
2021-01-01      85              NaN
2021-01-02      61              NaN
2021-01-03      31              NaN
2021-01-04      10              NaN
2021-01-05      39              NaN
2021-01-06      15              NaN
2021-01-07      33        39.142857
2021-01-08      59        35.428571
2021-01-09      69        36.571429
2021-01-10      74        42.714286
2021-01-11      41        47.142857
2021-01-12      86        53.857143
2021-01-13      49        58.714286
2021-01-14      26        57.714286
2021-01-15      15        51.428571