# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [2]:
tpl = 1,2,3,4,1,2,4,6,1,4,2,1,2

count = {}
for item in tpl:
    if item in count:
        count[item] += 1
    else:
        count[item] = 1
print(count)

{1: 4, 2: 4, 3: 1, 4: 3, 6: 1}

In [8]:
packed_tpl = 1,2,3,4,5

x,y,*z = packed_tpl

a , _ , *b = packed_tpl

print(x,y,z)
print(a,b)

1 2 [3, 4, 5]
1 [3, 4, 5]

In [12]:
lst = [1,2,3,4,5]

tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5)

In [14]:
lst.append(6)

tpl = tuple(lst)
print(tpl)

(1, 2, 3, 4, 5, 6, 6)

In [26]:
tpl = ('a' , 'b' , 'c' , 'd' , 'e')

str = "niga".join(tpl)
print(str)

anigabnigacnigadnigae

In [27]:
my_dict = {
    (1,2) : 'Value for 1 and 2',
    (2,3) : 'value for 2 and 3'
}

print(my_dict)

{(1, 2): 'Value for 1 and 2', (2, 3): 'value for 2 and 3'}

In [32]:
def print_nested_tuple_items(tpl):
    for item in tpl:
        if type(item) is tuple:
            print_nested_tuple_items(item)
        else:
            print(item)

nested_tpl = (1, (2, 3), (4, (5, 6, (7, (8,(9,0,(12,57)))))), 9)
print_nested_tuple_items(nested_tpl)

1
2
3
4
5
6
7
8
9
0
12
57
9

In [33]:
tpl = 1,2,3,1,2,3

const = set(tpl)
print(const)

{1, 2, 3}

In [34]:
min(tpl)

1

In [35]:
max(tpl)

3

In [36]:
sum(tpl)

12

In [1]:
set1 = {1,2,3,4,5,6,7}
set2 = {7,6,5,4,3,2,1}

const = set1.intersection(set2)
print(const)

{1, 2, 3, 4, 5, 6, 7}